@charset "UTF-8";

body{
    height: 90dvh;
    background-color: var(--color-background);
    font-family:cursive;
    color: var(--color-text);
    margin: 0px;
    display: flex;
    flex-direction: column;
}

a{
    color: var(--color-link)
}

main{
    background-color: var(--color-background2);
    flex: 1;
    display: flex;
}

#main-container{
    display: flex;
    flex-direction: row;
}
