@charset "UTF-8";

/* Header */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background3);
    margin: 0px;
    padding: 0px 30px;   
    color: var(--color-text2);
}

header ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

header a{
    text-decoration: none;
    color: var(--color-text2);
}

/* Nav */

nav{
    height: 120dvh;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    max-width: 300px;
}

nav ul{
    list-style: none;
    position: sticky;
    top: 0%;
    bottom: 0%;
    padding-left: 0px;
    margin: 0px;
}


nav a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-text2);
    background-color: var(--color-background3);
    transition: all 0.2s ease-in;
    gap: 100px;
}   

nav a:hover{
    background-color: var(--color-text2);
    color: var(--color-background3);
}

.actual-page{
    background-color: var(--color-background2);
    color: var(--color-background3);
}

.hidden a{
    font-size: 0px !important;
    gap: 0px !important; 
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    z-index: 2;
    color: var(--color-text2);
    background-color: var(--color-background3);
}

footer a{
    color: var(--color-text2);
}