@charset "UTF-8";

:root{
    --color-background: #4f4170;
    --color-background2: #dddddd;
    --color-background3: #372c53;
    --color-background4: #f5f5dc;
    --color-error-background: #c67171;
    --color-error: #c83b3b;
    --color-text: #000;
    --color-text2: #ffffff;
    --color-link: #37406a;
}